.box{
    margin: 50px auto;
    width: 100px;
    height: 100px;
    border: solid 1px black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
}
.scale1{
    transform: scale(1.5);
}
.scale2{
    transform: scale(2,1);
}
